/* Banner ----------------------------- */
.banner {
    width: 100%;
    background: url(../source/banner-image.png) no-repeat scroll;
    background-position: center;
    background-size: cover;
}

.banner-container {
    margin-top: 30vh;
    margin-left: 10%;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;    
}

.banner-title {
    font-size: 52px;
    margin-bottom: 16px;
    color: white;
}

.banner-subtitle {
    font-size: 22px;
    margin-bottom: 16px;
    color: white;
}

.btn-strengh {
    margin-bottom: 3vh;
    min-width: 140px;
    background-color: rgba(42, 122, 228, 1);
    color: white;
}