html {
    font-family: 'Raleway', sans-serif;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Header ------------------------------- */

.header {
    height: 20vh;
    max-height: 115px;
    min-height: 55px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-searchbar {
    height: 50px;
    width: 53%;
    margin-left: 10%;

    display: flex;
    align-items: center;
}

.logo-image {
    max-height: 115px;
    margin-right: 32px;
}

.search-form {
    width: 65%;
}

.input {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 12px 16px;

    color: rgba(162, 162, 162, 1);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;

    background: rgba(245, 245, 245, 1) url(../source/mag-icon.png) no-repeat scroll 5px 5px;
    background-position: 95% 50%;
}

.button {
    height: 51px;
    width: 16%;
    border: 1px solid rgba(42, 122, 228, 1);
    margin-right: 32px;
    text-decoration: none;
    color: rgba(42, 122, 228, 1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: inherit;
}

.btn-login {
    margin-right: 10%;
}

/* Banner ----------------------------- */
.banner {
    width: 100%;
    background: url(../source/banner-image.png) no-repeat scroll;
    background-position: 50% 50%;
    background-size: cover;
}

.banner-container {
    margin-top: 30vh;
    margin-left: 10%;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;    
}

.banner-title {
    font-size: 52px;
    margin-bottom: 16px;
    color: white;
}

.banner-subtitle {
    font-size: 22px;
    margin-bottom: 16px;
    color: white;
}

.btn-strengh {
    margin-bottom: 3vh;
    min-width: 140px;
    background-color: rgba(42, 122, 228, 1);
    color: white;
}

/* Main ------------------------------- */

.container {
    /* background-color: lightgreen; */
    width: 100%;
    margin-bottom: 64px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.category-group {
    width: 80%;
    min-width: 1000px;
    
    margin-top: 10vh;
    /* background-color: cyan; */
}

.category-top {
    width: 100%;
    height: 38px;
    margin-bottom: 16px;

    background: url(../source/arrow.png) no-repeat scroll;
    background-position-x: calc(100% - 7px);
    background-position-y: 20px;
    background-size: 16px;

    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.category-top h2 {
    color: rgba(70,70,70,1);
    font-size: 32px;
    line-height: 38px;
}

.category-top p {
    color: #2A7AE4;
    font-size: 16px;
    line-height: 19px;
    padding-right: 32px;
}

.category-list {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.category-card img {
    margin-bottom: 8px;
}

.category-card h2 {
    margin-bottom: 8px;

    color: rgba(70,70,70,1);

    font-weight: 500;
    font-size: 14px;
    line-height: 16.44px;
}

.category-card h3 { 
    margin-bottom: 8px;

    color: rgba(70, 70, 70, 1);

    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
}

.category-card a {
    text-decoration: none;
}

.category-card p {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
    color: rgba(42, 122, 228, 1);
}

/* Footer ------------------------------- */

.footer {
    height: 304px;
    width: 100%;
    background: rgba(234, 242, 253, 1);    
    /* margin-bottom: 102px; */
    padding-top: 64px;
    
    display: flex;

}

.logo {
    width: 20vw;
    margin-left: 10vw;
    margin-right: 112px;
}

.links {
    width: 20vw;
    margin-right: 112px;
}

.link-item {
    text-decoration: none;
}

.link-text {
    margin-bottom: 24px;
    color:rgba(70, 70, 70, 1);
}

.contactus {
    width: 30%;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
}



.contact-title {
    margin-bottom: 8px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 18,78px;
    color: rgba(70, 70, 70, 1);
}

.contact-name {
    position: relative;
    width: 100%;
}

.contact-name input {
    width: 100%;
    border: none;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 28px 12px 7px 12px;

    color: rgba(70, 70, 70, 1);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.contact-name span {
    font-size: 12px;
    line-height: 16px;

    position: absolute;
    left: 12px;
    top: 8px;
    color: rgba(162, 162, 162, 1);
}

.contact-message {
    position: relative;
}

.contact-message input {
    /* height: 66px; */
    width: 100%;
    border: none;
    border-radius: 4px;

    padding: 16px 12px 46px 12px;
    margin-bottom: 8px;

    color: rgba(70, 70, 70, 1);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.contact-message input::placeholder { 
    color: rgba(162, 162, 162, 1);
}

.contatct-form a {
    padding: 0 16px;
}

/* Credits ------------------------------- */

.credits {
    margin: 32px 0;

    color: rgba(70, 70, 70, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits p {
    margin-bottom: 8px;
}

.link {
    color: inherit;
    text-decoration: none;

    display: flex;
    align-items: baseline;
}

.link-image {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}